<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="manifest" href="./app.webmanifest">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a class="skip-link" id="skip" href="#maincontent">Skip To Content</a>
  <header>
    <ul class="header_list">
      <li id="hamburger" class="drawer"><button class="drawer" aria-label="navigation drawer">☰</button></li>
      <li class="header_title"><h1>Makan.Go</h1></li>
      <li class="header_item"><img src="./images/heros/Logo.png" width="40" alt="Logo"></li>
    </ul>
  </header>
  <nav id="nav">
    <ul id="nav-ul">
      <a href="#/list" class="nav_go"><li class="nav_item">Home</li></a>
      <a href="#/favorite" class="nav_go"><li class="nav_item">Favorite</li></a>
      <a href="https://github.com/shrchse" class="nav_go"><li class="nav_item">About Us</li></a>
    </ul>
  </nav>

  <main>
    <picture class="jumbotron">
      <source type="image/jpeg" srcset="./images/heros/hero-image_2.jpg">
      <source media="(max-width: 720px)" srcset="./images/heros/hero-image_2.jpg-small">
      <source media="(min-width: 721px)" srcset="./images/heros/hero-image_2.jpg-large">
      <img loading="lazy" src="./images/heros/hero-image_2.jpg" alt="heroimage">
    </picture>
    <div id="jumbotron" class="jumbotron">
      <jumbo-tron></jumbo-tron>
    </div>
    <div id="main-content"></div>
      <div id="card-section" class="card-section"></div>
    </div>
  </main>

  <footer>
    <foo-ter></foo-ter>
  </footer>
</body>
</html>
